
.parent_all {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:650px;
}

.nav {
    position: fixed;
    top: 0;
    left: 200;
    background: #fff;
    width: 200px;
    height: 100%;
}
.nav_image{
    width:150px;
    left:10%;
}
.nav_list {
    position:relative;
    top: 5%;
    left: 10%;
}

.nav_list {
    font-size: 3.0rem; 
    line-height: 1.2;  
    letter-spacing: -.1rem;
}

.content {
    position: absolute;
    width: 450px;
    left: 200px;
    background: #fff;
    overflow: auto;
    z-index: 1;
}

.results_header {
    font-size: 6.5rem; 
    line-height: 1.2;  
    letter-spacing: -.1rem;
    text-align: center;
}

.links_header {
    font-size: 6.5rem; 
    line-height: 1.2;  
    letter-spacing: -.1rem;
    text-align: center;
}

.blog_post{
}

.blog_image{
    align:"left";
    float: right;
    margin: 10px 10px 0 0;
    width:60px;
}

.blog_intext_image{
    align:"left";
    float: left;
    margin: 10px 10px 20px 0px;
    width:450px;
}
.blog_date{
    font-size: 2.5rem; 
    line-height: 1.2;  
    letter-spacing: -.1rem;
}

.blog_title{
    font-size: 3.5rem; 
    font-weight: bold;
    line-height: 1.2;  
    letter-spacing: -.1rem;
}

.blog_text{
    font-size: 2.5rem; 
    line-height: 1.0;  
    letter-spacing: 0rem;
    text-align:justify;
}

a:link {
    color: #222;
    text-decoration: none;
}
a:visited {
    color: #222;
    text-decoration: none
}
a:active {
    color: #222;
    text-decoration: none
}
a:hover {
    color: #222;
    text-decoration: underline;
}

main {
    padding: 10px;
    line-height: 20; /* to fake lot of content / scrolling */
}

html {
  font-size: 45.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", "Oxygen","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
