<meta charset="utf-8">

<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.highlight { stroke: #fc0; }

</style>
<script>

var margin = {top: 200, right: 100, bottom: 60, left: 250},
    width = 800 - margin.left - margin.right,
    height = 550 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .defined(function(d) { return !isNaN(d.pct_weight); })
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.pct_weight); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


d3.csv("/data/weight.csv", function(error, data) {
  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));

  data.forEach(function(d) {
    d.date = parseDate(d.date);
  });

    
  var sources = color.domain().map(function(name) {
    return {
      name: name,
      values: data.map(function(d) {
        return {date: d.date, pct_weight: +d[name]};
      })
    };
  });
    
  x.domain(d3.extent(data, function(d) { return d.date; }));
    
  y.domain([
    d3.min(sources, function(c) { return d3.min(c.values, function(v) { return v.pct_weight; }); }),
    d3.max(sources, function(c) { return d3.max(c.values, function(v) { return v.pct_weight; }); })
  ]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
      .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("transform", "rotate(-65)" )
    .append("text")
      .attr("y", margin.bottom/1.5)
      .attr("x",width/2)
      .text("Date");
    

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y",-margin.top*2.5)
      .attr("x",-height/2)
      .attr("dy", ".71em")
      .style("text-anchor", "middle")
      .text("% Weight Lost");

      
  var source = svg.selectAll(".source")
      .data(sources)
    .enter().append("g")
      .attr("class", "source");
  
   source.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return line(d.values); })
      .style("stroke", "lightgrey") //"lightgrey"
      .on("mouseover", function(d){
        d3.select(this)
          .style("stroke",function(d) {return color(d.name);});

        this.parentNode.parentNode.appendChild(this.parentNode);

        d3.select('#text-' + d.name)
          .style("stroke",function(d) {return color(d.name);});
      })
      .on("mouseout", function(d) {
          d3.select(this)
            .transition()
            .duration(750)
            .style("stroke", "lightgrey")
          d3.select('#text-' + d.name)
            .transition()
            .duration(750)
            .style("stroke", "lightgrey")
          })
    .attr("id", function(d, i) { return "path-" + d.name; })
    .transition().duration(2000)
    .attrTween("stroke-dasharray", tweenDash)

function tweenDash() {
  var l = this.getTotalLength(),
      i = d3.interpolateString("0," + l, l + "," + l);
  return function(t) { return i(t); };
}  


  source.append("text")
      .datum(function(d) { return {name: d.name, value: d.values}; })
      .attr('x', width+20)
      .attr('y', function(d,i) {return i*20 + 20;})
      .style("stroke", "lightgrey")
      .on("mouseover", function(d){
    		d3.select('#path-' + d.name)
    		    .transition().duration(1000)
       			.style("stroke",function(d) {return color(d.name);});
       		this.parentNode.parentNode.appendChild(this.parentNode);
    		d3.select(this)
    			.style("cursor" , "default")
        		.style("stroke",function(d) {return color(d.name);});
      })
      .on("mouseout", function(d) {
    		d3.select('#path-' + d.name)
      			.transition()
      			.duration(750)
      			.style("stroke", "lightgrey")
    		d3.select(this)
      			.transition()
      			.duration(750)
      			.style("stroke", "lightgrey")
    })
      .text(function(d) { return d.name; })
      .attr("font-family","sans-serif")
      .attr("font-size","14px")
      .attr("id", function(d, i) { return "text-" + d.name; });     
  
});

</script>

