
<div class="nav">
    <div class="nav_list">
        <br><br>
        <a href=/index.html>
            <img src="/images/banner.png", class="nav_image"> 
        </a>
        <br><br>
        <p><a href=/index.html>Blog</a></p>
        <p><a href=/results.html>Results</a></p>
        <p><a href=/enterinfo.html>Enter Today's Weight/Exercise</a></p>
        <p><a href=/photo_gallery.html>Photo Gallery</a></p>
        <p><a href=/links.html>Helpful Links</a></p>
    </div>
</div>
