<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/noburger.svg", class="blog_image">
  <div class="blog_date"><p>August 21st 2015</p></div>
  <div class="blog_title"><p>Why low fat diets don’t work</p></div>
  <div class="blog_text">
<p>The low fat diet was recommended to the public based on scientific research.  Beginning with the very highly cited paper entitled “Coronary Heart Disease among Minnesota business and professional men followed 15 years”[1], many studies found a correlation between the level of HDL cholesterol and rates of heart disease (lower cholesterol levels in blood, lower heart disease risk). From these studies, it was hypothesized that by eating less fat, one could lower cholesterol and decrease heart disease. </p>

<p>Unfortunately, this has not proven to be the case in many studies at this point. Probably the largest study to date [2] looked at the effects of a low fat diet by tracking 50,000 women over 8 years who were assigned to a low fat diet or to maintain their normal diet.  Overall, this study found that the <b>low fat diet had no effect on heart disease or weight.</b>  So, I’m sorry that you  avoided delicious fatty foods for the last 35 years unnecessarily.  Blame it on the Minnesota businessmen!</p>

<p>The low fat diet seems to not work as expected due to a couple of reasons:</p>

<p><b>- It’s very difficult to maintain a low fat diet.</b>  In this study, even with one-on-one nutrition counseling, the women were not very successful at cutting the percentage of fat in their diet.</p>

<p><b>- By switching to carbohydrates instead of fat, we may have ended up eating more total calories.</b> Over the period since it was first recommended to cut fat (1980 to now), there has been a small decrease in average percentage of fat consumed across the population, but also a large increase in total calories [3].  So by avoiding fat, we may just have shifted to eating more carbohydrates (carbohydrates are less filling than fats, meaning you would have to eat more to feel full).</p>

<p>So does this mean you should load up on fatty foods?  Well, not quite:</p>
<p>- I first want to clarify something about this study [2].  They were not limiting the total number of calories people could consume, so this was not a “diet” in terms of eating less than usual. So definitely cutting back on fatty foods (and/or eating less carbs or less protein) can help you cut calories, but simply shifting calories from fat to protein/carbs is not an effective strategy for most people.</p>  

<p>- Lots of studies have shown that saturated fats and trans fats are bad for you, so switching to unsaturated fats is still a good idea.</p>

<p>However, I still think the take home message is that <b>low fat diets do not work for most people! </b> As we’ll get to in later posts, there are other diets that have been shown to have an effect on heart disease and lifespan in the same types of studies (and which people could actually maintain).</p>

<p>More info and references:</p>
<p><a href="http://www.hsph.harvard.edu/nutritionsource/low-fat/">Low fat diet</a> - Info from Harvard School of Public Health</p>
<p>[1] Keys A, et al. (1963) Coronary Heart Disease among Minnesota Professional and Business men followed fifteen years.  Circulation 28:381-95.</p>
<p>[2] Howard BV, et al. (2006) Low-fat dietary pattern and risk of cardiovascular disease: The women’s health initiative randomized controlled dietary modification trial. JAMA 295:655-666.</p>
<p>[3] Walker TB and Parker MJ (2014) Lessons from the war on dietary fat. Am College of Nutrition 33:347-351.</p>
  <br>
  <p></p>
  <b>
  <a href=posts/20150821_comments.html>Comment on this post</a></b>
  <br>
  <br>
  <br>
</div>

