<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 1st 2015</p></div>
  <div class="blog_title"><p>Healthy eating week: the Mediterranean diet</p></div>
  <div class="blog_text">
<p>For healthy eating week, I’m going to focus on studies where the primary focus was not losing weight and there was no restriction on the number of calories. So the question these studies are trying to answer is, what should you eat on an everyday basis to be healthy?</p>

<p>The Mediterranean diet, in contrast to the low fat diet, has proven to be a success story in randomized clinical trials.  A study in the New England Journal of Medicine is probably the largest study to date, in which they followed 7500 participants from Spain for about 5 years who were assigned to eat a Mediterranean diet or a low fat diet [1].  They found that <b>eating a Mediterranean diet was associated with a lower risk of heart disease or stroke</b> (about 30% lower risk).  This finding has been replicated in multiple studies, and the diet has also been found to lower the risk of type 2 diabetes [2,3].</p>

<p>So what is the Mediterranean diet?</p>

<p>Here are the guidelines followed in the New England Journal of Medicine study [1].  Note that this is not what you might think of as “Mediterranean” food i.e. no pasta:</p>

<i>
<DL>
<p><b>Encouraged:</b></p>
<DD>
<p>Olive oil - at least 4 Tablespoons/day</p>
<p>Tree nuts and peanuts - at least 3 servings/week</p>
<p>Fresh fruits- at least 3 servings/day</p>
<p>Vegetables - at least 2 servings/day</p>
<p>Fish- at least 3 servings/week</p>
<p>Legumes- at least 3 servings/week</p>
<p>Sofrito (mixture of tomato and onion)- at least 2 servings/ week</p>
<p>White meat instead of red meat</p>
<p>Wine with meals daily (for habitual drinkers)</p>
</DD>
<b><p>Discouraged:</p></b>
<DD>
<p>Soda- less than 1/day</p>
<p>Commercial baked goods - less than 3 servings/ week</p>
<p>Spread fats - less than 1 serving/ day</p>
<p>Red meat and processed meat- less than 1 serving/day</p>
</i>
</DD>
</DL>
<p>A few notes:  I think some of the lessons learned from this have already been picked up by the public.  Definitely nut consumption is increasing.  So I would try to think about incorporating some of the foods you might be less likely to be eating at the levels recommended, like legumes and fish.</p>

<p>Some studies have tried to narrow down what parts of the diet are contributing to this “protective” effect. The most studied so far is nuts [4,5].  There have also been some studies of using fish oil (which can be thought of as a proxy for eating fish) [6].  Most of these have looked at correlations between what people eat and outcomes, so they not been done as rigorously as the large study of the Mediterranean diet.  And who knows?  Reduced heart disease rates might not be caused by the foods they’re adding but rather the foods they’re subtracting (like red meat and commercial baked goods). </p>

<p>In any case, it might not be the best approach to think about what one part of the diet is producing the effect. Instead, it may be the synergistic effects of the different parts of the diet that lead to better outcomes.  Really, all we can say for sure is that this diet in its entirety has this effect.</p>

<p>Also, one final thing I will note is that the tendency for many people is to eat too much of whatever they consider “healthy”.  So, for example with nuts, a serving is 30 g.  That’s only 20 almonds, 16 cashews, 8 walnuts, or 18 hazlenuts.  So don’t go too crazy!  I think we also have a tendency to pick out the one thing that we already eat and ignore the rest (“great, I can drink as much wine as I want!”).  I think that would be missing the main point of these studies.   </p>

<p>References: </p>
<p>[1] Estruch R et al. (2013) Primary Prevention of Cardiovascular Disease with a Mediterranean Diet. NEJM 368:1279-1290. </p>
<p>[2] Estruch R et al. (2006) Effects of a Mediterranean-style diet on cardiovascular risk factors- a randomized trial. Ann Intern Med 145:1-11. </p>
<p>[3] Salas-Salvado J et al. (2011) Reduction in the incidence of type 2 diabetes with the Mediterranean diet results of the PREDIMED-Reus nutrition intervention randomized trial. Diabetes Care 34:14-19. </p>
<p>[4] Kelly JH and Sabate J. (2006) Nuts and coronary heart disease: an epidemiological perspective. British Journal of Nutrition 96S2:S61-67. </p>
<p>[5] Li TY, et al. (2009) Regular consumption of nuts is associated with a lower risk of cardiovascular disease in women with Type 2 Diabetes. Journal of Nutrition 139:1333-1338. </p>
<p>[6] Singh RB, et al. (1997) Randomized, double-blind, placebo-controlled trial of fish oil and mustard oil in patients with suspected acute myocardial infarction. Cardiovascular Drugs and Therapy 11:485-491. </p>

  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

