<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 18th 2015</p></div>
  <div class="blog_title"><p>Guide to reading scientific papers on diet</p></div>
  <div class="blog_text">
<p><b>- Is it an observation or intervention study?</b></p>
<p>An observation (also called epidemiological) study means they are looking at what people ate and trying to correlate with various health outcomes. These types of studies can only show correlation, not causation, so they are usually not as trustworthy as an intervention study. One great example of the ways these types of studies can mislead is a study that found a correlation between coffee consumption and pancreatic cancer. For this study, the researchers identified people with pancreatic cancer and asked them about their coffee consumption.  They also asked a control group of patients who were patients of the same doctors but didn’t have pancreatic cancer.  It turns out that because these were GI doctors, the control group was mainly people with various chronic GI problems who had been told to limit coffee consumption.  Meanwhile, the pancreatic cancer group had not had chronic GI problems and therefore drank more coffee.  However, one did not cause the other, as researchers found out when they tried to replicate the study.</p>

<p>On the other hand, intervention or experimental studies involve starting with a group of people and, explicitly controlling for whatever you think is important to the study, dividing them into a control versus diet group and tracking their progress.  For the coffee study, you could start with people who were habitual coffee drinkers and have one group cut back on coffee. In this study setup, you could say that a diet *caused* a particular health outcome, though there can still be problems with this study design as well, as I’ll talk about below.</p>

<p><b>- What effect was found?  How large was the effect size?</b></p>
If they did find an effect of a particular diet, how different were the two groups they were comparing?  Typically, a larger effect size (and more statistically significant) would be more likely to not just be due to chance.</p>

<p><b>- How many people were involved?</b></p>
Usually, the more the better.  The larger of these types of studies have involved on the order of thousands of people.  If it is more like 20, I would be skeptical.  Though, related to the point above, if you need thousands and thousands of people and can still barely see an effect, then it might just be that the diet you’re studying doesn’t have that much of an impact!</p>

<p><b>- Has this result been replicated in other studies?</b></p> 
The ultimate test of a study is replicating its findings in a totally new study, carried out by different researchers.</p>  

<p><b>- What might be some of the flaws?</b></p>
<p>Here are some criticisms I’ve read of some of the studies I’ve talked about so far, which I think generally apply to many of these types of studies:</p>
<p><b>- Did people actually eat what they said they did?</b></p>
Studies that rely on people self-reporting what they ate are notoriously unreliable.  Sometimes, researchers will try to do some kind of blood test to confirm that the subjects are eating what they are supposed to.  This was how, in the low fat diet study, they found that the people in the low fat diet group probably weren’t very successful at cutting fat from their diet.</p>

<p><b>- Do they have an appropriate control group?  Or might the control group be changing over time?</b></p>
<p>As discussed above, having an appropriate control group is key to getting a meaningful result from the study. This was another of the critiques of the low fat diet study. One proposed reason that they didn’t find an effect of the low fat diet was that perhaps the control group had started eating lower fat as well (because they were just told to eat whatever they wanted and the low fat message had become so prominent in the media during the period of the study).  A better setup would be compare two explicit diets (like low-fat versus Mediterranean) rather than telling one group to eat whatever they want, especially over a long period of time.</p>

<p><b>- Could who signed up for (or who dropped out of) the study be affecting things as well?</b></p>
In studies I’ve read of vegan diets, this issue has been brought up.  While these studies often show health effects of vegan diets, maybe the people who would volunteer to be in a vegan diet study are already healthier than average.  Or alternatively, the ones who would actually stick to a vegan diet (as opposed to dropping out of the study) might be more likely to be healthy, skewing the results.  Trying to maintain people in these studies for any extended period of time appears to be a big challenge.</p>

<p>Finally, I realize some or most of this information is not readily available, especially in reports in the media.  However, there is a big movement within academia to try to make these scientific papers accessible to anyone (called open access), so it’s definitely worth checking to see if you can read the actual paper.  Often, in the paper the researchers will be more likely to admit flaws of the study than the newspaper article on the topic.</p>


  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

