<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/scale.svg", class="blog_image">
  <div class="blog_date"><p>October 8th 2015</p></div>
  <div class="blog_title"><p>Diet vs exercise for weight loss revisited: with data!</p></div>
  <div class="blog_text">
<p>I looked into this question using the data we’ve gathered during the challenge! I was interested in whether the amount of exercise or the self-reported healthy eating “score” was correlated with weight change over a week. Keep reading for the results!</p>

<p>This analysis obviously only includes people who were participating in the weight loss part of the challenge. For these analyses, I calculated the % change in weight for each week for each person, so these graphs include all the people together.  You could also try to look at each person individually, but there are so few data points that you can’t really see any patterns.  </p>

<p><b>Effect of exercise on weight</b></p>
<p>First of all, I found no correlation between weight change over a week and the number of exercise minutes that week. See the chart below.  This is a fairly small dataset, but I sure don’t see a pattern emerging yet.
<img src="/images/exercise_vs_weight.jpg", class="blog_intext_image">
</p>
<br>
<br>

<p><b>Effect of diet on weight</b></p>
<p>Next, I plotted healthy eating score (where 1=poor and 5=excellent). In contrast to exercise, there was a correlation between self-reported healthy eating “score” and weight change (p=0.003).  It’s pretty noticeable on the chart.  I also plotted a best fit line. Basically, the healthier you reported eating for the week, the more weight you lost!  Cool! 

<img src="/images/diet_vs_weight.jpg", class="blog_intext_image">
</p>
<br>
<br>
<p>A caveat: I think there are a few issues with the healthy eating score- it’s possible that you might weigh yourself and then set your score based on that instead of actually trying to remember what you ate. A better method would be to make everyone keep a food diary. </p>

<p>Still, I think this points to the fact that working on the eating side of things has a larger impact on weight loss than exercise, at least in our challenge.  Even if there are flaws with the self-reported eating, we <i>can </i>say that we didn’t find any relationship between weight loss and exercise minutes.</p>


  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

