<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 18th 2015</p></div>
  <div class="blog_title"><p>Guide to reading scientific papers on diet</p></div>
  <div class="blog_text">
<p><b>- Is it an observation or intervention study?</b></p>
<p>An observation (also called epidemiological) study means they are looking at what people ate and trying to correlate with various health outcomes. These types of studies can only show correlation, not causation, so they are usually not as trustworthy as an intervention study. One great example of the ways these types of studies can mislead is a study that found a correlation between coffee consumption and pancreatic cancer. For this study, the researchers identified people with pancreatic cancer and asked them about their coffee consumption.  They also asked a control group of patients who were patients of the same doctors but didn’t have pancreatic cancer.  It turns out that because these were GI doctors, the control group was mainly people with various chronic GI problems who had been told to limit coffee consumption.  Meanwhile, the pancreatic cancer group had not had chronic GI problems and therefore drank more coffee.  However, one did not cause the other, as researchers found out when they tried to replicate the study.</p>


<p>On the other hand, intervention or experimental studies involve starting with a group of people and, explicitly controlling for whatever you think is important to the study, dividing them into a control versus diet group and tracking their progress.  For the coffee study, you could start with people who were habitual coffee drinkers and have one group cut back on coffee. In this study setup, you could say that a diet *caused* a particular health outcome, though there can still be problems with this study design as well, as I’ll talk about below.</p>


<p><b>- What effect was found?  How large was the effect size?</b></p>



  <i><a href=posts/20150918.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

