<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/clipboard.svg", class="blog_image">
  <div class="blog_date"><p>August 16th 2015</p></div>
  <div class="blog_title"><p>Getting Healthy! Connelly Style</p></div>
  <div class="blog_text">
	      
      <p>Welcome to the Connelly fitness challenge!  I hope all you Connelly’s are ready for some “healthy” competition. We'll be tracking everyone’s weight and exercise minutes with some cool charts we've made, and we’ll also have this blog to share advice on dieting, healthy eating, and exercise!  I have to admit that I have not personally done much dieting, but I have been reading up on the scientific literature to hopefully offer some helpful advice, plus we’ll be getting advice from each other!</p>

<p>Here are some thoughts based on what I’ve read so far.  For short term diets, there are many effective strategies. Not surprisingly, the common feature is cutting the total number of calories consumed- sometimes dramatically.  My impression is that there’s no perfect mix of what exactly you should be eating on a diet. The important thing is to cut the total amount.  The vast majority of studies of weight loss don't include any exercise component, and it’s clear that the most important part of losing weight is decreasing food intake.  We’ll also be talking about how advice about dieting has changed over the years (particularly in the last few years) as new research has come out.</p>

<p>Separate from the issue of dieting is what makes a healthy diet in the longer term.  Healthy eating can be defined in many ways. Most of the studies of this have focused on decreased heart disease rates or increased lifespan as the definition of healthy.  You could also think about the environmental impact as part of what you mean by healthy eating. A lot of research has been done on healthy eating, and excitingly the results of some of the first longitudinal studies (tracking the same people over multiple years) of the effects of different diets have recently been published. There have also been many studies of the diets of populations throughout the world that are known to have longer lifespans and lower rates of disease, though the geneticist in me has to point out that this could be due to something other than their diet.  In any case, we’ll be highlighting some of these findings.</p>

<p>Finally, there is another large body of research on exercise and how that is good for health.  Generally, as we all know, it’s definitely good to exercise more so hopefully everyone will be encouraged to meet their goals for exercise throughout the challenge!</p>

<p>We’ll also be featuring healthy recipes from all of you and sharing photos of healthy meals and people out exercising to keep everyone motivated.  If you all have other ideas about what to include, let us know!</p>

<p>Don't forget to enter in your weight and exercise goals!</p>

Caitlin and Peter
  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

