<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 45h 2015</p></div>
  <div class="blog_title"><p>Healthy eating week: the Japanese and Okinawan diets</p></div>
  <div class="blog_text">
<p>In the same large study in which the Mediterranean diet was first found to be associated with low heart disease risk, researchers found that population cohorts from Japan also had low heart disease risk [1].  In particular, the population living on the islands of Okinawa had an unusually high percentage of people who lived to be centenarians, even compared to Japan, which already had a higher percentage than Western countries like the U.S. [2]</p>

<p>In analyzing the Japanese diet, researchers found it to have some interesting similarities to the Mediterranean diet.  There was a focus on vegetables, less dairy, lots of fish, legumes (mainly in soybean form), and not very many saturated fats.  In terms of the raw breakdown of fat, carbohydrates, and protein, the Japanese diet is quite a bit lower in fat than the Mediterranean diet.</p>

<p>In addition, it turns out the Okinawa diet is pretty distinctive from the Japanese diet.  This is due to historical circumstances which led to the islands being isolated from Japan prior to the mid twentieth century.  The Okinawa diet up to that time was based on sweet potatoes as their staple food (rather than rice as in Japan).  The major foods they consumed were sweet potatoes, vegetables, soybeans, and some fish and meat.  Some researchers have argued that food consumption during the period when most of the population followed this “traditional Okinawa diet” was so limited that it actually constituted caloric restriction [3].  A quick aside about caloric restriction: it is a phenomenon that has been studied in all kinds of model systems (including yeast- in college I worked for a summer in a lab studying this).  All these studies on model organisms found that if you restrict calories significantly below normal, the organism’s lifespan increases.  So some people think that it was the limited number of calories consumed that led to long live for Okinawa residents.  It could also be the particular mix of foods they were eating. Some researchers have proposed that their foods being quite high in antioxidants somehow has an anti-aging effect [2].  This is all pretty speculative, however.  </p>

<p>The “Okinawan diet” has not caught on in the same way as the Mediterranean diet, perhaps because it seems less appealing and less easy to follow.  It’s hard to commit to sweet potatoes as a staple food for an extended period of time (unless it’s sweet potato fries, am I right? which unfortunately I don’t think would have the same effect…) Even the Okinawa residents no longer follow this diet now that they’re no longer cut off from the rest of Japan.  I couldn’t find any clinical trial type studies where people attempted to follow this diet, so we don’t know what the effects would be in that case.</p>

<p>Still, I think it’s pretty interesting to ask why particular populations are longer lived (which is usually correlated with less heart disease and strokes).  One answer not addressed in any of these papers is that it could be partly genetic.  Presumably Okinawa and Japanese populations are quite similar genetically, so that points to perhaps diet playing a role in the differences between those two groups, but genetics could definitely contribute to differences between Japan and the U.S. for example.  More experiments are needed to disentangle what is due to diet and what is due to genetic differences.</p>

<p>In any case, there are lots of interesting similarities between the Mediterranean diet and Japanese diet that can perhaps guide us towards a healthy eating pattern.  In particular, it seems you can’t go wrong with lots of vegetables, limited meat eating, and not as many saturated fats.  The papers I read emphasized the fact that both diets are “relatively low in calories but nutrient dense” [1].</p>

<p>References</p>
<p>[1] Menotti A, Puddu PE (2015) How the Seven Countries Study contributed to the definition and development of the Mediterranean diet concept: A 50 year journey. Nutr, Met, and Cardiovasc Diseases 25:245-252.</p>

<p>[2] Willcox DC et al. (2015) Healthy aging diets other than the Mediterranean: A focus on the Okinawan diet. Mech Aging Devel 136:148-162.</p>

<p>[3] Willcox BJ et al. (2007) Caloric restriction, the traditional Okinawan diet, and healthy aging.  Ann New York Acad Sci 1114:434-455.</p>


  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

