<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 2nd 2015</p></div>
  <div class="blog_title"><p>Healthy recipe: Roasted Cauliflower With Tahini Sauce</p></div>
  <div class="blog_text">
<p>Let's continue healthy eating week with a healthy recipe from Laurie!</p>
<p>From “Olives & Oranges” by Sara Jenkins & Mindy Fox (KOD recipe notes in italics)</p>
<p>Notes from Laurie: The amount of olive oil can be reduced.  The sauce is good on lots of vegetables.</p>


    


  <i><a href=posts/20150902.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

