<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/tennis.svg", class="blog_image">
  <div class="blog_date"><p>August 21st 2015</p></div>
  <div class="blog_title"><p>Mythbusting week: does lack of exercise cause obesity?</p></div>
  <div class="blog_text">
<p>As I mentioned in the last post, there is a pretty good correlation between the average number of calories consumed per day in the U.S. population and the percentage of the population that is obese [1].  Many studies have shown that a bad diet can cause you to gain weight (and vice versa). However, from the popular media, you may have gotten the impression that the real problem is that we’re all sitting in front of computers all day and not exercising enough.</p>  

<p>There may be reason to be skeptical of the idea that lack of exercise is causing obesity. There have been <a href=”http://bjsm.bmj.com/content/early/2015/05/07/bjsports-2015-094911.full
>some interesting </a> <a href=”http://well.blogs.nytimes.com/2015/08/09/coca-cola-funds-scientists-who-shift-blame-for-obesity-away-from-bad-diets/?_r=0”>articles</a> out recently about how the food industry (particularly soda companies) has funded a lot of research on how changes in exercise have led to the rise in obesity.  Some have criticized Michelle Obama’s “Let’s Move” initiative for the same reason, because it emphasizes exercise over eating habits.</p>

<p>So, how have our exercise habits changed over the period when obesity has skyrocketed?  And will exercise help you lose weight?</p>

<p>It turns out that exercise has changed a bit over this period (from 1980 to now).  The main finding is that exercise (or moving around) during work hours has decreased, while exercise in leisure time has remained about the same [2].  So definitely lack of exercise could be contributing to the obesity problem.  I found it difficult to really pin down how much researchers think this is contributing. I that that is still an open question.  Some articles also made the point that exercise could be decreasing as an effect of obesity, rather than a cause.</p>

<p>As far as whether exercise can help one lose weight, it appears that it might help, but only a little. As <a href=”http://bjsm.bmj.com/content/early/2015/05/07/bjsports-2015-094911.full
    “>this </a>editorial says “You can’t outrun a bad diet.” Most studies looking at this question compare the effects of a diet alone to the effects of adding in exercise. Some meta-analyses have found that exercise + diet vs diet alone does not result in any increased weight loss [3] while others have found that it does result in increased weight loss, though the increase is small [4]. If you just compare exercise alone to diet alone, a diet results in much more weight loss [5].  <b>So if your goal is weight loss, diet is key!</b> </p>

<p>However, there are lots of benefits of exercise as well, even if weight loss is not achieved, so this is not to write off exercise entirely. I also think it’s pretty interesting to consider the role of food companies in pushing the “lack of exercise causes obesity” narrative, though I don’t think they’re behind ALL these studies, and it’s clear that exercise does have real benefits.</p>

Here are some links with more information:
<p><a href=http://bjsm.bmj.com/content/early/2015/05/07/bjsports-2015-094911.full>Editorial titled ‘It is time to bust the myth of physical inactivity and obesity: you cannot outrun a bad diet’</a></p>
<p><a href=http://www.nytimes.com/2015/06/16/upshot/to-lose-weight-eating-less-is-far-more-important-than-exercising-more.html?abt=0002&abg=0>Article from the NY Times- To lose weight eating less is far more important than exercising more</a></p>
<p><a href=http://well.blogs.nytimes.com/2015/08/09/coca-cola-funds-scientists-who-shift-blame-for-obesity-away-from-bad-diets/?_r=0>NY Times article- Coca-Cola funds scientists who shift blame for obesity away from bad diets</a></p>
<p><a href=http://www.nytimes.com/2013/02/24/magazine/the-extraordinary-science-of-junk-food.html?_r=0>NY Times article- The extraordinary science of junk food- on the role of food companies in making unhealthy food</a></p>

References:
<p>[1] Walker TB and Parker MJ (2014) Lessons for the war on dietary fat. Am College of Nutrition 33:347-351.</p>
<p>[2] Brownson RC, Boehmer TK, Luke DA (2005)  Declining rates of physical activity in the United States: What are the contributors? Ann Rev Pub Health 26:421-443.</p>
<p>[3] Franz MJ et al (2007) Weight-loss outcomes: a systematic review and meta-analysis of weight loss clinical trials with a minimum of 1-year follow-up. Jour Amer Dietetic Assoc 107:1755-1767.</p>
<p>[4] Wu T, Gao X, Chen M, van Dam RM (2009) Long-term effectiveness of diet-plus-exercise interventions vs. diet-only interventions for weight loss: a meta-analysis.  Obesity Reviews 10:313-323.</p>
<p>[5] Pedersen LR et al. (2015) A randomised trial comparing weight loss with aerobic exercise in overweight individuals with coronary artery disease: The CUT-IT trial. Eur J Prev Cardiol 22:1009-1017.</p>

  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

