<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/scale.svg", class="blog_image">
  <div class="blog_date"><p>September 21st 2015</p></div>
  <div class="blog_title"><p>Dieting week:  Whatever works for you!</p></div>
  <div class="blog_text">
<p>The amount of literature out there on short term studies of losing weight is a bit overwhelming. What I’ve taken away from reading papers so far is that the choice of diet for losing weight is not so important, and there are many, many options of diets that have been shown to result in weight loss in scientific studies.  So you should go with what works for you!</p>

<p>To illustrate this point, I’ll talk about a meta-analysis of different diets which was published last year [1].</p>  




  <i><a href=posts/20150921.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

