<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 1st 2015</p></div>
  <div class="blog_title"><p>Healthy eating week: the Mediterranean diet</p></div>
  <div class="blog_text">
<p>For healthy eating week, I’m going to focus on studies where the primary focus was not losing weight and there was no restriction on the number of calories. So the question these studies are trying to answer is, what should you eat on an everyday basis to be healthy?</p>

<p>The Mediterranean diet, in contrast to the low fat diet, has proven to be a success story in randomized clinical trials.  A study in the New England Journal of Medicine is probably the largest study to date, in which they followed 7500 participants from Spain for about 5 years who were assigned to eat a Mediterranean diet or a low fat diet [1].  They found that <b>eating a Mediterranean diet was associated with a lower risk of heart disease or stroke</b> (about 30% lower risk).  This finding has been replicated in multiple studies, and the diet has also been found to lower the risk of type 2 diabetes [2,3].</p>

<p>So what is the Mediterranean diet?</p>

    


  <i><a href=posts/20150901.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

