<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/scale.svg", class="blog_image">
  <div class="blog_date"><p>September 21st 2015</p></div>
  <div class="blog_title"><p>Dieting week:  Whatever works for you!</p></div>
  <div class="blog_text">
<p>The amount of literature out there on short term studies of losing weight is a bit overwhelming. What I’ve taken away from reading papers so far is that the choice of diet for losing weight is not so important, and there are many, many options of diets that have been shown to result in weight loss in scientific studies.  So you should go with what works for you!</p>

<p>To illustrate this point, I’ll talk about a meta-analysis of different diets which was published last year [1].</p>  

<p>The authors were interested in comparing published studies of diets for weight loss to see if the type of diet affected the amount of weight lost.  Specifically, they were interested in comparing low carbohydrate diets (such as Atkins, South beach, and the Zone), low fat diets  (such as Ornish, Rosemary Conley [apparently our slightly misspelled relative has a low fat dieting program :)] ), and “moderate macronutrient” diets (such as Jenny Craig, Weight Watchers, etc).  They looked for published studies on these different diets and looked to see how much weight people had lost after 6 months.  They found that on average, people lost 15 to 19 lbs on the different diets after 6 months. Both low fat and low carbohydrate diets led to more weight loss than the “moderate macronutrient” group, though the difference was small (17-19 lbs versus 15 lbs).  Low carbohydrate diets resulted in the most weight loss, though the difference was not significant between low carbohydrate and low fat diets (19 versus 17 lbs).</p>

<p>The author’s takeaway from this study was that there is not one diet that is far superior to others for weight loss. As the authors state, <b>“This supports the practice of recommending any diet that the patient will adhere to in order to lose weight.”</b>  So go ahead and do whatever crazy diet you’d like for the short term! Even paleo, if you must :)</p>

<p>It might seem like this is contradicting what I talked about earlier about low fat diets not being effective.  That is why I am trying to distinguish between studies on “healthy eating” for the long term, which are generally for 5-10 years and look at things like heart disease as the end point, as compared to studies on dieting for weight loss in the short term, which are usually for less than 1 year and look at weight or some combination of body fat and weight as the end point.  Generally, most studies of healthy eating do not limit the amount of food consumed and don’t usually result in much or any weight loss.  Over the next week, I’ll try to highlight some of the more interesting studies of weight loss.</p>

<p>[1] Johnston BC et al (2014) Comparison of weight loss among named diet programs in overweight and obese adults: A meta-analysis. Journal of the American Medical Association 312:923-933.</p>


  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

