<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/tennis.svg", class="blog_image">
  <div class="blog_date"><p>August 26th 2015</p></div>
  <div class="blog_title"><p>Mythbusting week: does lack of exercise cause obesity?</p></div>
  <div class="blog_text">

    
<p>As I mentioned in the last post, there is a pretty good correlation between the average number of calories consumed per day in the U.S. population and the percentage of the population that is obese [1].  Many studies have shown that a bad diet can cause you to gain weight (and vice versa). However, from the popular media, you may have gotten the impression that the real problem is that we’re all sitting in front of computers all day and not exercising enough.</p>  

<p>There may be reason to be skeptical of the idea that lack of exercise is causing obesity. There have been <a href=”http://bjsm.bmj.com/content/early/2015/05/07/bjsports-2015-094911.full
>some interesting </a> <a href=”http://well.blogs.nytimes.com/2015/08/09/coca-cola-funds-scientists-who-shift-blame-for-obesity-away-from-bad-diets/?_r=0”>articles</a> out recently about how the food industry (particularly soda companies) has funded a lot of research on how changes in exercise have led to the rise in obesity.  Some have criticized Michelle Obama’s “Let’s Move” initiative for the same reason, because it emphasizes exercise over eating habits.</p>

<p>So, how have our exercise habits changed over the period when obesity has skyrocketed?  And will exercise help you lose weight?</p>


  <i><a href=posts/20150826.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

