<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 4th 2015</p></div>
  <div class="blog_title"><p>Healthy eating week: the Japanese and Okinawan diets</p></div>
  <div class="blog_text">
<p>In the same large study in which the Mediterranean diet was first found to be associated with low heart disease risk, researchers found that population cohorts from Japan also had low heart disease risk [1].  In particular, the population living on the islands of Okinawa had an unusually high percentage of people who lived to be centenarians, even compared to Japan, which already had a higher percentage than Western countries like the U.S. [2]</p>

<p>In analyzing the Japanese diet, researchers found it to have some interesting similarities to the Mediterranean diet.  There was a focus on vegetables, less dairy, lots of fish, legumes (mainly in soybean form), and not very many saturated fats.  In terms of the raw breakdown of fat, carbohydrates, and protein, the Japanese diet is quite a bit lower in fat than the Mediterranean diet.</p>

<p>In addition, it turns out the Okinawa diet is pretty distinctive from the Japanese diet.  This is due to historical circumstances which led to the islands being isolated from Japan prior to the mid twentieth century.  The Okinawa diet up to that time was based on sweet potatoes as their staple food (rather than rice as in Japan).  The major foods they consumed were sweet potatoes, vegetables, soybeans, and some fish and meat.  </p>
    


  <i><a href=posts/20150904.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

