<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/noburger.svg", class="blog_image">
  <div class="blog_date"><p>August 21st 2015</p></div>
  <div class="blog_title"><p>Why low fat diets don’t work</p></div>
  <div class="blog_text">

    <p>The low fat diet was recommended to the public based on scientific research.  Beginning with the very highly cited paper entitled “Coronary Heart Disease among Minnesota business and professional men followed 15 years”[1], many studies found a correlation between the level of HDL cholesterol and rates of heart disease (lower cholesterol levels in blood, lower heart disease risk). From these studies, it was hypothesized that by eating less fat, one could lower cholesterol and decrease heart disease. </p>

    <p>Unfortunately, this has not proven to be the case in many studies at this point. Probably the largest study to date [2] looked at the effects of a low fat diet by tracking 50,000 women over 8 years who were assigned to a low fat diet or to maintain their normal diet.  Overall, this study found that the <b>low fat diet had no effect on heart disease or weight.</b>  So, I’m sorry that you  avoided delicious fatty foods for the last 35 years unnecessarily.  Blame it on the Minnesota businessmen!</p>

    <p>The low fat diet seems to not work as expected due to a couple of reasons:</p>

  <i><a href=posts/20150821.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

