<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/scale.svg", class="blog_image">
  <div class="blog_date"><p>October 8th 2015</p></div>
  <div class="blog_title"><p>Diet vs exercise for weight loss revisited: with data!</p></div>
  <div class="blog_text">
<p>I looked into this question using the data we’ve gathered during the challenge! I was interested in whether the amount of exercise or the self-reported healthy eating “score” was correlated with weight change over a week. Keep reading for the results!</p>



  <i><a href=posts/20151008.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

