<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 2nd 2015</p></div>
  <div class="blog_title"><p>Healthy recipe: Roasted Cauliflower With Tahini Sauce</p></div>
  <div class="blog_text">
<p>Let's continue healthy eating week with a healthy recipe from Laurie!</p>
<p>From “Olives & Oranges” by Sara Jenkins & Mindy Fox (KOD recipe notes in italics)</p>
<p> notes from Laurie: The amount of olive oil can be reduced.  The sauce is good on lots of vegetables.</p>
<DL>

<p><b>Ingredients</b></p>
<DD>
<p>1 large head cauliflower, broken into florets</p>
<p>¼ cup plus 2 tablespoons extra-virgin olive oil <i>(I omitted the extra tablespoons)</i></p>
<p>1 ½ teaspoons medium-coarse sea salt, or more to taste <i>(In retrospect, I might have reduced salt to 1 ¼ teaspoons)</i></p>
<p>¼ teaspoon coarsely ground black pepper</p>
<p>¼ cup plus 1 tablespoon tahini paste</p>
<p>¼ cup plus 2 tablespoons water</p>
<p>3 tablespoons fresh lemon juice (approximately 1 lemon)</p>
<p>1 garlic clove, minced</p>
<p>¼ cup finely chopped fresh flat-leaf parsley</p>
</DD>
</DL>
<p><b>Method</b></p>
<p>Heat oven to 400 degrees. Line a baking sheet with parchment </p>
<p>In a mixing bowl, toss cauliflower with oil, 1 ¼ teaspoons salt (this is where I might reduce salt to 1 teaspoon) and pepper until well coated. Spread in a single layer on baking sheet and roast, stirring and turning once or twice, until cauliflower is tender and crispy brown in spots, about 45 minutes.</p>
<p>While cauliflower is roasting, puree tahini paste, water, lemon juice, garlic and remaining ¼ teaspoon salt in a blender until well combined. <i>(I added the parsley as well, resulting in a pretty light green puree.)</i></p>
<p>Remove cauliflower from oven and immediately transfer to a serving bowl. Pour tahini over the cauliflower and toss to combine.</p>
<p>Serve warm or let stand at room temperature.</p>

  <br>
  <p></p>
  <b>
  <br>
  <br>
  <br>
</div>

