<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/apple.svg", class="blog_image">
  <div class="blog_date"><p>September 14th 2015</p></div>
  <div class="blog_title"><p>Healthy eating week: summary</p></div>
  <div class="blog_text">
<p><b>The goal: to think about your “dietary pattern” as a whole</b></p>
<p>Many of the writers of research papers on this topic seem very frustrated by the never-ending cycle of diet crazes going in and out of fashion. Instead, they urge people to focus on what we do know that is actually similar between many of the trendy diets. They warn not to focus simply on cutting a single food category (like low fat, low carb, low sugar etc).  It turns out that there are many unhealthy ways to do all of these diets-- especially if you just go to the store and buy anything that says “low carb”. And secondly, don’t just add in a single “healthy” ingredient, like sweet potatoes, nuts, etc. and think that will do the trick either. It’s important to think about your diet in its entirety.</p>




  <i><a href=posts/20150914.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

