<div class="blogpost">
  <!-- EDIT FROM HERE  -->
  <img src="/images/icons/clipboard.svg", class="blog_image">
  <div class="blog_date"><p>August 16th 2015</p></div>
  <div class="blog_title"><p>Getting Healthy! Connelly Style</p></div>
  <div class="blog_text">
	      
      <p>Welcome to the Connelly fitness challenge!  I hope all you Connelly’s are ready for some “healthy” competition. We'll be tracking everyone’s weight and exercise minutes with some cool charts we've made, and we’ll also have this blog to share advice on dieting, healthy eating, and exercise!  I have to admit that I have not personally done much dieting, but I have been reading up on the scientific literature to hopefully offer some helpful advice, plus we’ll be getting advice from each other!</p>

    <p>Here are some thoughts based on what I’ve read so far.  For short term diets, there are many effective strategies. Not surprisingly, the common feature is cutting the total number of calories consumed- sometimes dramatically.  My impression is that there’s no perfect mix of what exactly you should be eating on a diet. The important thing is to cut the total amount.  The vast majority of studies of weight loss don't include any exercise component, and it’s clear that the most important part of losing weight is decreasing food intake.  We’ll also be talking about how advice about dieting has changed over the years (particularly in the last few years) as new research has come out.</p>

  <i><a href=posts/20150816.html>read more...</a></i>
  <br>
  <br>
  <br>
</div>

